[Unit]
Description=Send an event when the device starts up
After=mosquitto.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/startup-notifier

[Install]
WantedBy=multi-user.target