[Unit]
Description=One-time setup scripts
ExecCondition=sh -c '! test -f /etc/setup_ran'

[Service]
Type=oneshot
ExecStart=/usr/share/setup/runner.sh /usr/share/setup/scripts.d/
ExecStartPost=touch /etc/setup_ran
WorkingDirectory=/etc

[Install]
WantedBy=multi-user.target
